<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<div class="card">
		<div class="card-body">
			<form th:object="${account}" id="edit-form">
				<div class="form-group"><h5>Editare cont</h5></div>
				<input id="edit-id" name="id" type="hidden" th:field="*{id}" />
				<input id="edit-amount" name="amount" type="hidden" th:field="*{amount}" />
				<input id="edit-accountType" name="accountType" type="hidden" th:field="*{accountType}" />
				  <div class="form-group">
				    <label for="name">Nume</label>
				    <input type="text" name="name" th:field="*{name}" class="form-control" id="name">
				  </div>
				  <div class="form-group">
				  	<button id="save" type="button" class="btn btn-primary">Salveaza</button>
				  	<button id="delete" type="button" class="btn btn-danger">Sterge</button>
				  </div>
			</form>
		</div>
  	</div>
  	<script>
  		$("#save").click(function(event) {
  			event.preventDefault();
  			var id = $("#edit-id").val();
  			var form = $("#edit-form").serialize();
  			$.ajax({
				url: '/api/account/update/form/' + id,
				type: 'PUT',
				data: form,
				success: function(data) {
					if (data.status) {
						location.reload();
					} else {
						$.each(data.errors, function(key, value){
			  	            $('input[name=' + key + ']').after('<span class="error">' + value + '</span>');
			            });
					}
				},
			});
  		});
		$("#delete").click(function(event) {
			event.preventDefault();
			var id = $("#edit-id").val();
  			$.ajax({
				url: '/api/transaction/delete/' + id,
				type: 'DELETE',
				success: function(data) {
					if (data) {
						location.reload();
					}
				},
			});
  		});
  	</script>
</html>